{% extends 'base.html.twig' %}

{% block title %}BTS{% endblock %}

{% block body %}
    <style>
        .main {background-color: red} 
    </style>

    <div class="main">
        <h1>Bienvenue au BTS SIO de l'école {{ ecole }} 💀</h1>
    </div>
{% endblock %}